body {
    font-family: Arial, sans-serif;
    color: black;
}

h1{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
